


html body {
    margin: 0px;
    padding: 0px;
    border-color: black;
}


.home {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/bg.jpg");
    background-blend-mode: multiply;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
}

.home h3 {
    align-items: center;
    text-align: center;
}

.avatar_buttons {
    display: grid;
}


.avatar {
    padding: 0em;
    margin: 0em;
    position: relative;
    top: 2px;
    height: 300px;
}

.btn-1 {
    background-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: transparent;
    background-blend-mode: multiply;
    color: whitesmoke;
    padding: 2em;
    width: 50%;

    font-weight: bold;
    /*Positioning*/

    position: relative;

    /*Alignment*/


    outline: none;
}

.btn-2 {
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: transparent;
    color: whitesmoke;
    padding: 2em;
    width: 50%;
    font-weight: bold;

    /*Positioning*/

    position: relative;
    /*Alignment*/


    outline: none;

}

.btn-container {
    align-content: center;
    justify-content: space-around;
    text-justify: distribute-all-lines;
    justify-items: center;
    align-items: center;
    position: relative;
    display: flex;
}
