
html body {
    margin: 0px;
    padding: 0px;
    border-color: black;
}

.left {
}

.right {
    right: 0;
}

.home {
    /*Makes it occupy the whole view port*/
    height: 100vh;
    /*Full width*/
    width: 100%;
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    /*Relative Position is set so that it's children can use absolute position which will be absolute to this element'*/
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*X will be for aligning in Column*/
    align-items: center;
    /*Y will be for Justify in Column*/
    justify-content: start;
}

.home h3 {
    align-items: center;
    text-align: center;
}



.title {
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to right, #483b30,#fffafa,#ffb0a0, #5e565a);
    color: transparent;
    font-family: "Agency FB";
    border: 0px;
    font-size: 100px;
    /*To set the background image to the text*/
    -webkit-background-clip: text;
    /*animating*/
    background-size: 300%;
    background-position: 100%;
    /*keyframe - duration - quantity of anim - how to blend*/
    animation: animatingGradientText 5s infinite alternate-reverse;
}

@keyframes animatingGradientText {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }

}

.cloud-container {
    /*position will be absolute to its parent and will not take any space*/
    position: relative;
    top: 0;
    /*height will be 20% of the parent's height'*/
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
}


.cloud {
    /*It will be absolute relative to cloud container as it is relative*/
    position: absolute;
    width: 20%;
}


.filter-dark {
    filter: grayscale(100%) brightness(30%);
}


.avatar_buttons {
    display: grid;
}

.avatar-button-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.avatar {
    filter: grayscale(30%);
    height: 500px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.btn-1 {
    /*decoration*/
    background-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-color: transparent;
    background-blend-mode: multiply;
    color: whitesmoke;
    padding: 2em;
    font-weight: bold;
    outline: none;
    font-size: 20px;

    /*sizing*/
    width: 20em;
}

.btn-2 {
    /*decoration*/
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    outline: none;
    font-size: 20px;

    /*sizing*/
    width: 20em;
}


