.bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url("../../../assets/bg3.gif");
    display: flex;
    flex-direction: column;
    border: none;
}

.glass {
    /*FILTER*/
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.glass2 {
    /*FILTER*/
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.second-container {
    /*POSITION*/
    border-radius: 30px;
    top: 10vh;
    bottom: 10vh;
    right: 10vw;
    left: 10vw;
    position: absolute;
    height: 80vh;
    width: 80vw;
    border: none;


}

.side-nav {
    position: fixed;
    height: 100vh;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(rgba(44, 30, 30, 0.01), rgba(91, 182, 218, 0.09), rgba(36, 78, 93, 0.01));

}

.side-nav-logo {

    display: flex;
    position: absolute;
    width: 6.5vw;
    top: 1.5vh;
}

.nav-buttonACTIVE {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-family: "Agency FB";
    font-size: 1.8vw;
    font-weight: bold;
    border-bottom: 1px solid #000;
    border: none;
}

.nav-button {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-family: "Agency FB";
    font-size: 1vw;
    font-weight: bold;
    border-bottom: 1px solid #000;
    border: none;

}